/* import FiraMonoRegular from './fonts/fira-mono.regular.ttf'
import SourceSansProBlack from './fonts/source-sans-pro.black.ttf'
import SourceSansProLight from './fonts/source-sans-pro.light.ttf'
import OpenSansRegular from './fonts/OpenSans-Regular.ttf' */

@font-face {
  font-family: 'Fira Mono Regular';
  src: url('fira-mono.regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url('source-sans-pro.black.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('source-sans-pro.light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
